extends layout

block content
  h1= title

  - if (toShow)
    - let carsid = toShow._id
    - let cars_make = toShow.cars_make
    - let cars_model = toShow.cars_model
    - let cars_year = toShow.cars_year

    div
      div.row
        div(class='carsAttr mr-3') Car ID is:
        div #{carsid}
      div.row
        div(class='carsAttr mr-3') Car Make is:
        div #{cars_make}
      div.row
        div(class='carsAttr mr-3') Car Model is:
        div #{cars_model}
      div.row
        div(class='carsAttr mr-3') Car Year is:
        div #{cars_year}